:root {
    /* Color 1: BW */
    --header-color: rgb(239, 239, 239);
    --background-color: rgb(190, 210, 230);
    --light: rgb(212, 214, 218);
    --dark: rgb(159, 161, 164);

    /* Color 2: Blue */
    --header-color: rgb(239, 239, 239);
    --background-color: rgb(190, 210, 230);
    --light: rgb(238, 243, 248);
    --dark: rgb(116, 126, 140);
    --correct: rgb(111, 176, 120);

    /* purple */
    /* --background-color: rgb(196, 190, 230); */

    /* red */
    /* --background-color: rgb(245, 142, 138); */
    
}

/* 
HEAD
*/

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Rude';
    src: url('/assets/Rude\ Slab\ SemiCondensed\ Bold/Rude\ Slab\ SemiCondensed.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('/assets/Rude\ Slab\ SemiCondensed\ Bold/Rude\ Slab\ SemiCondensed.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

html, body {
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande','Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: var(--background-color);
    /* overflow-y: hidden; */
}

h2 {
    font-weight: light;
    margin-left: 20px;
    margin-right: 20px;
    font-size: large;
}

/* these are the letters */
h3 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

#container {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);
}

#head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;

    align-items: center;
    background-color: var(--header-color);
}

.alignleft {
    float: left;
    width: 33.33333%;
    text-align: left;
  }
  .aligncenter {
    float: left;
    width: 33.33333%;
    text-align: center;
  }
  .alignright {
   float: left;
   width: 33.33333%;
   text-align: right;
  }​


.outer {
display: table;
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
}

.middle {
display: table-cell;
vertical-align: middle;
}

.inner {
margin-left: auto;
margin-right: auto;
}

#game {
    width: 100%;
}

.title{
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.4rem 0 0.4rem 0;
    /* text-align: center; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande','Lucida Sans Unicode', Geneva, Verdana, sans-serif; */

    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', serif; */
    /* font-family: "Rude"; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, serif;
}

/* 
WORD
*/

#word-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    margin-top: 100px;
}

#word {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 400px;
    border-bottom: 2px solid var(--dark);
}

.letter {
    min-width: 82px;
    min-height: 20px;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 00%;

    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
BOARD
*/

#board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

#board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.square {
    border: 2px solid var(--light);
    min-width: 60px;
    min-height: 60px;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    animation-duration: 1s;
    transition: all 1;
}

/* 
KEYBOARD
*/

#keyboard-container {
    height: 200px;
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.keyboard-row button {
    font-family: inherit;
    font-weight: bold;
    font-size: medium;
    border: 0;
    padding: 0;
    height: 58px;
    cursor: pointer;
    background-color: var(--light);
    color: black;
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
}

.keyboard-row button.wide-button {
    flex-grow: 1.5;
}

.spacer-half {
    flex-grow: 0.5;
}